Repository RupnikF/TaskComposer-73.40-20242Q: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-scheduler-pipeline, run-service-registry-pipeline, run-workflow-manager-pipeline

.gitlab-ci.yml:

stages:
- pipeline
- test

run-scheduler-pipeline:
  stage: pipeline
  trigger:
    include: scheduler/.gitlab-ci.yml
  rules:
    - changes:
        - scheduler/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

run-service-registry-pipeline:
  stage: pipeline
  trigger:
    include: service-registry/.gitlab-ci.yml
  rules:
    - changes:
        - service-registry/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

run-workflow-manager-pipeline:
  stage: pipeline
  trigger:
    include: workflow-manager/.gitlab-ci.yml
  rules:
    - changes:
        - workflow-manager/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

e2e-test:
  stage: test
  script:
  - echo "E2E test"
  needs:
  - job: run-scheduler-pipeline
  - job: run-service-registry-pipeline
  - job: run-workflow-manager-pipeline
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

feat: full flow of echo and services
  scheduler/broker/handlers.go
  scheduler/repository/execution_repository.go
  scheduler/scheduler.go
Due: run-scheduler-pipeline

feat: added endpoint to view execution state
  scheduler/repository/dtos.go
  scheduler/repository/models.go
  scheduler/scheduler.go
Due: run-scheduler-pipeline

feat: adding ingress
  deploy/helmfile.yaml.gotmpl
Due: none

fix: forgor service host in deployment
  deploy/helmfile.yaml
  deploy/scheduler/templates/deployment.yaml
  deploy/scheduler/values.yaml
Due: none

feat: ultimos fixes del helmfile
  deploy/helmfile.yaml
  scheduler/.env.template
  workflow-manager/documentation/workflows.http
Due: run-scheduler-pipeline

feat: tell me why
  deploy/helmfile.yaml
Due: none

fix: Ain't nothin' but a heartache
  deploy/helmfile.yaml
Due: none

chore: added uuid to executions
  scheduler/repository/dtos.go
  scheduler/repository/execution_repository.go
  scheduler/repository/models.go
  scheduler/scheduler.go
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/ExecutionController.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/dtos/ExecutionSubmissionDTO.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/services/ExecutionService.java
Due: run-scheduler-pipeline

feat: initial traefik values.yaml config
  deploy/helmfile.yaml
  deploy/native-service/values.yaml
  deploy/scheduler/values.yaml
  deploy/traefik.yaml
  deploy/workflow-manager/values.yaml
Due: none

feat: finally instructions and routes for traefik
  deploy/README.md
  deploy/scheduler/values.yaml
  deploy/traefik.yaml
  deploy/workflow-manager/templates/ingress-route.yaml
  deploy/workflow-manager/values.yaml
  workflow-manager/documentation/workflows.http
Due: none

feat: add traefik to helmfile and add final ingress route
  deploy/helmfile.yaml
  deploy/scheduler/templates/ingress-route.yaml
Due: none

feat: terraform for pod racing
  .vscode/settings.json
  terraform/.gitignore
  terraform/.terraform.lock.hcl
  terraform/locals.tf
  terraform/main.tf
  terraform/scripts/initMaster.sh
  terraform/scripts/initWorker.sh
  terraform/variables.tf
Due: none

feat: initial schema for service registry + terraform readme
  deploy/README.md
  service-registry/src/main/java/com/taskcomposer/service_registry/ServiceRegistryApplication.java
  service-registry/src/main/java/com/taskcomposer/service_registry/config/DBConfig.java
  service-registry/src/main/java/com/taskcomposer/service_registry/config/KafkaProducerConfig.java
  service-registry/src/main/java/com/taskcomposer/service_registry/controllers/.gitkeep
  service-registry/src/main/java/com/taskcomposer/service_registry/repositories/.gitkeep
  service-registry/src/main/java/com/taskcomposer/service_registry/repositories/models/Service.java
  service-registry/src/main/java/com/taskcomposer/service_registry/repositories/models/Task.java
  service-registry/src/main/java/com/taskcomposer/service_registry/repositories/models/TaskInput.java
  service-registry/src/main/java/com/taskcomposer/service_registry/repositories/models/TaskOutput.java
  service-registry/src/main/java/com/taskcomposer/service_registry/repositories/models/idclass/TaskId.java
  service-registry/src/main/java/com/taskcomposer/service_registry/services/.gitkeep
  service-registry/src/main/resources/application.properties
  service-registry/src/main/resources/db/migration/V2024.12.4__initial_schema.sql
  terraform/README.md
Due: none

feat: trying to build images to gitlab registry
  gitlab-ci-template.yml
  scheduler/.gitlab-ci.yml
  service-registry/.gitlab-ci.yml
  workflow-manager/.gitlab-ci.yml
Due: run-scheduler-pipeline, run-service-registry-pipeline, run-workflow-manager-pipeline

fix: maybe it was a typo
  gitlab-ci-template.yml
Due: none

fix: removed build id for now
  gitlab-ci-template.yml
Due: none

chore: deploy secrets manager with terraform
  terraform/main.tf
Due: none

chore: try to deploy to cluster in ec2
  deploy/README.md
  deploy/helmfile.yaml
  deploy/native-service/values.yaml
  deploy/registry-secret/.helmignore
  deploy/registry-secret/Chart.yaml
  deploy/registry-secret/templates/secret.yaml
  deploy/registry-secret/values.yaml
  deploy/scheduler/values.yaml
  deploy/workflow-manager/values.yaml
  terraform/README.md
  terraform/main.tf
Due: none

feat: otel pending native service y verificar que funcione en minikube (no esta funcionando)
  README.md
  deploy/README.md
  deploy/helmfile.yaml
  deploy/scheduler/templates/deployment.yaml
  deploy/signoz-ingress/.helmignore
  deploy/signoz-ingress/Chart.yaml
  deploy/signoz-ingress/templates/ingress-route.yaml
  deploy/signoz-ingress/values.yaml
  deploy/workflow-manager/templates/deployment.yaml
  scheduler/.env.template
  scheduler/broker/config.go
  scheduler/broker/consumer.go
  scheduler/broker/handlers.go
  scheduler/broker/producer.go
  scheduler/go.mod
  scheduler/go.sum
  scheduler/repository/config.go
  scheduler/repository/execution_repository.go
  scheduler/scheduler.go
  workflow-manager/.env.template
  workflow-manager/documentation/workflows.http
  workflow-manager/pom.xml
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/WorkflowManagerApplication.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/ExecutionController.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/WorkflowController.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/services/ExecutionService.java
  workflow-manager/src/main/resources/application.properties
Due: run-scheduler-pipeline, run-workflow-manager-pipeline

chore: added nfs and local-path-provisioner
  deploy/.env.template
  deploy/helmfile.yaml
  deploy/local-path-provisioner/.helmignore
  deploy/local-path-provisioner/Chart.yaml
  deploy/local-path-provisioner/README.md
  deploy/local-path-provisioner/templates/NOTES.txt
  deploy/local-path-provisioner/templates/_helpers.tpl
  deploy/local-path-provisioner/templates/clusterrole.yaml
  deploy/local-path-provisioner/templates/clusterrolebinding.yaml
  deploy/local-path-provisioner/templates/configmap.yaml
  deploy/local-path-provisioner/templates/deployment.yaml
  deploy/local-path-provisioner/templates/registry-secret.yaml
  deploy/local-path-provisioner/templates/role.yaml
  deploy/local-path-provisioner/templates/rolebinding.yaml
  deploy/local-path-provisioner/templates/serviceaccount.yaml
  deploy/local-path-provisioner/templates/storageclass.yaml
  deploy/local-path-provisioner/values.yaml
  deploy/nfs-pv/.helmignore
  deploy/nfs-pv/Chart.yaml
  deploy/nfs-pv/templates/_helpers.tpl
  deploy/nfs-pv/templates/pv.yaml
  deploy/nfs-pv/values.yaml
  deploy/scheduler/templates/deployment.yaml
  deploy/scheduler/templates/pvc.yaml
  deploy/scheduler/values.yaml
  terraform/.gitignore
  terraform/.terraform.lock.hcl
  terraform/README.md
  terraform/main.tf
  terraform/scripts/initMaster.sh
  terraform/scripts/initNFS.sh
  terraform/scripts/initWorker.sh
Due: none

chore: testing if pushing to dockerhub is working
  gitlab-ci-template.yml
Due: none

fix: typo in template
  gitlab-ci-template.yml
Due: none

chore: looks like kaniko does not have docker, lets try with jess/img
  gitlab-ci-template.yml
Due: none

chore: looks like the token is not readily available like in kaniko
  gitlab-ci-template.yml
Due: none

fix: AAAAAAAA THE $CI_REGISTRY WAS MISSING PLEASE WORK
  gitlab-ci-template.yml
Due: none

chore: changed the repository in values for the services
  deploy/README.md
  deploy/helmfile.yaml
  deploy/native-service/values.yaml
  deploy/scheduler/values.yaml
  deploy/workflow-manager/values.yaml
Due: none

fix: looks like img does not work for dockerhub
  gitlab-ci-template.yml
Due: none

fix: looks like it needed docker in docker
  gitlab-ci-template.yml
Due: none

FIX: AAAAAAAA I LEFT AN IMG
  gitlab-ci-template.yml
Due: none

chore: removed registry secret
  deploy/helmfile.yaml
  deploy/native-service/values.yaml
  deploy/scheduler/values.yaml
  deploy/workflow-manager/values.yaml
Due: none

chore: removed secrets manager and disable firewall with reboot on scripts
  terraform/locals.tf
  terraform/main.tf
  terraform/scripts/initMaster.sh
  terraform/scripts/initNFS.sh
  terraform/scripts/initWorker.sh
Due: none

fix: changed values in traefik to allow port binding
  deploy/traefik.yaml
Due: none

chore: use grpc protocol for signoz
  deploy/workflow-manager/templates/deployment.yaml
Due: none

feat: now you can access the cluster from outside
  deploy/scheduler/templates/deployment.yaml
  deploy/scheduler/templates/ingress-route.yaml
  deploy/signoz-ingress/templates/ingress-route.yaml
  deploy/workflow-manager/templates/ingress-route.yaml
Due: none

feat: tentative if and abort for native tasks PENDING: missing telemetry properties, check stepName append to output results
  docker-compose.yaml
  native-service/docker-compose.yaml
  native-service/go.mod
  native-service/go.sum
  native-service/main.go
  scheduler/broker/handlers.go
  scheduler/repository/service_repository.go
  scheduler/scheduler.go
Due: run-scheduler-pipeline

feat: support workflow triggering via grpc (in progress)
  workflow-manager/.mvn/wrapper/maven-wrapper.properties
  workflow-manager/Dockerfile
  workflow-manager/docker-compose.yaml
  workflow-manager/pom.xml
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/WorkflowManagerApplication.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/TriggerController.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/dtos/TriggerRequestDTO.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/grpc_services/TriggerServant.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/services/TriggerService.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/services/exceptions/WorkflowNotFoundException.java
  workflow-manager/src/main/proto/schema.proto
  workflow-manager/src/main/resources/application.properties
Due: run-workflow-manager-pipeline

fix: changed pull policy fix: changed env variables for logging and traces in go
  deploy/echo-service/templates/deployment.yaml
  deploy/echo-service/values.yaml
  deploy/local-path-provisioner/values.yaml
  deploy/scheduler/templates/deployment.yaml
  deploy/scheduler/values.yaml
  deploy/workflow-manager/values.yaml
  echo-service/main.go
  scheduler/repository/service_repository.go
  scheduler/scheduler.go
Due: run-scheduler-pipeline

chore: moved nfs to echo-service fix: changed the way of accessing services definition
  deploy/echo-service/templates/pvc.yaml
  deploy/echo-service/values.yaml
  deploy/helmfile.yaml
  deploy/scheduler/values.yaml
  scheduler/Dockerfile
  services.json
  workflow-manager/Dockerfile
Due: run-scheduler-pipeline, run-workflow-manager-pipeline
