Repository RupnikF/TaskComposer-73.40-20242Q: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-scheduler-pipeline, run-service-registry-pipeline, run-workflow-manager-pipeline, run-echo-service-pipeline

.gitlab-ci.yml:

stages:
- pipeline
- test

run-scheduler-pipeline:
  stage: pipeline
  trigger:
    include: scheduler/.gitlab-ci.yml
  rules:
    - changes:
        - scheduler/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

run-service-registry-pipeline:
  stage: pipeline
  trigger:
    include: service-registry/.gitlab-ci.yml
  rules:
    - changes:
        - service-registry/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

run-workflow-manager-pipeline:
  stage: pipeline
  trigger:
    include: workflow-manager/.gitlab-ci.yml
  rules:
    - changes:
        - workflow-manager/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

run-echo-service-pipeline:
  stage: pipeline
  trigger:
    include: echo-service/.gitlab-ci.yml
  rules:
    - changes:
        - echo-service/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

e2e-test:
  stage: test
  script:
  - echo "E2E test"
  needs:
  - job: run-scheduler-pipeline
  - job: run-service-registry-pipeline
  - job: run-workflow-manager-pipeline
  - job: run-echo-service-pipeline
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

fix: signoz dashboard and no inputs
  deploy/signoz-ingress/templates/ingress-route.yaml
  deploy/traefik.yaml
  echo-service/.env.template
  scheduler/broker/handlers.go
  scheduler/broker/native_service.go
  terraform/locals.tf
  workflow-manager/documentation/workflows.http
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/dtos/WorkflowDefinitionDTO.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/ServiceRepositoryImpl.java
Due: run-echo-service-pipeline

feat: finally working if and abort
  gitlab-ci-template.yml
  scheduler/.env.template
  scheduler/.gitignore
  scheduler/Dockerfile
  scheduler/broker/handlers.go
  scheduler/broker/native_service.go
  scheduler/docker-compose.yaml
  scheduler/repository/execution_repository.go
  scheduler/repository/service_repository.go
  scheduler/scheduler.go
  workflow-manager/.gitignore
  workflow-manager/Dockerfile
  workflow-manager/documentation/workflows.http
Due: run-scheduler-pipeline, run-workflow-manager-pipeline

chore: added strategy so see if it mirrors the child status in the pipeline
  .gitlab-ci.yml
Due: none

feat: ci/cd deploy to aws
  .gitlab-ci.yml
  gitlab-ci-template.yml
Due: none

fix: Update to pipeline so deployment runs when the variable CI_MANUAL_DEPLOYMENT is "true"
  .gitlab-ci.yml
Due: none

fix: looks like it's empty entrypoint
  .gitlab-ci.yml
Due: none

fix: there wasn't any directory in /heml
  .gitlab-ci.yml
Due: none

chore: added info to readme about deploy
  README.md
  terraform/README.md
Due: none

fix: return workflow not found error fix: force eager fetch for list parameters on orm models
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/grpc_services/TriggerServant.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/model/Step.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/model/Workflow.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/services/exceptions/WorkflowNotFoundException.java
Due: none

feat: added cancel executions by id and by tags, added cancelled status chore: now service topics are created by the scheduler
  scheduler/broker/config.go
  scheduler/broker/handlers.go
  scheduler/repository/config.go
  scheduler/repository/dtos.go
  scheduler/repository/execution_repository.go
  scheduler/repository/models.go
  scheduler/scheduler.go
  workflow-manager/documentation/workflows.http
Due: run-scheduler-pipeline

chore: expose wfmanager grpc trigger service
  deploy/helmfile.yaml
  deploy/signoz-ingress/templates/ingress-route.yaml
  deploy/traefik.yaml
  deploy/workflow-manager/templates/deployment.yaml
  deploy/workflow-manager/templates/ingress-route.yaml
  deploy/workflow-manager/templates/service.yaml
  deploy/workflow-manager/values.yaml
  workflow-manager/documentation/workflows.http
Due: none

chore: initial structure for s3 service
  .gitlab-ci.yml
  deploy/s3-service/.helmignore
  deploy/s3-service/Chart.yaml
  deploy/s3-service/templates/NOTES.txt
  deploy/s3-service/templates/_helpers.tpl
  deploy/s3-service/templates/deployment.yaml
  deploy/s3-service/templates/hpa.yaml
  deploy/s3-service/templates/ingress.yaml
  deploy/s3-service/templates/service.yaml
  deploy/s3-service/templates/serviceaccount.yaml
  deploy/s3-service/templates/tests/test-connection.yaml
  deploy/s3-service/values.yaml
  s3-service/.gitignore
  s3-service/.gitlab-ci.yml
  s3-service/Dockerfile
  workflow-manager/documentation/example.yaml
Due: none

feat: Cron jobs in scheduler chore: added the changes to deploy, TODO: needs testing
  deploy/helmfile.yaml
  deploy/scheduler/templates/deployment.yaml
  deploy/scheduler/values.yaml
  scheduler/.env.template
  scheduler/.env.template.etcd
  scheduler/broker/handlers.go
  scheduler/docker-compose.yaml
  scheduler/go.mod
  scheduler/go.sum
  scheduler/jobs/config.go
  scheduler/jobs/handlers.go
  scheduler/repository/dtos.go
  scheduler/repository/models.go
  scheduler/scheduler.go
Due: run-scheduler-pipeline

fix: go.sum
  scheduler/go.mod
  scheduler/go.sum
Due: run-scheduler-pipeline

fix: etcd
  deploy/.env.template
  deploy/helmfile.yaml
  deploy/scheduler/templates/deployment.yaml
  deploy/scheduler/values.yaml
Due: none

fix: scheduler now connects to etcd
  scheduler/jobs/config.go
Due: none

chore: use one pv per each pvc chore: deploy s3 service (not working)
  deploy/helmfile.yaml
  deploy/nfs-pv/templates/pv.yaml
  deploy/nfs-pv/values.yaml
  deploy/s3-service/templates/deployment.yaml
  deploy/s3-service/templates/pvc.yaml
  deploy/s3-service/values.yaml
  deploy/traefik.yaml
  s3-service/.env.template
  s3-service/Dockerfile
  s3-service/requirements.txt
  s3-service/service.py
  services.json
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/ServiceRepositoryImpl.java
Due: none

feat: distributed tracing for WorkflowManager, scheduler and echo-service
  echo-service/main.go
  scheduler/broker/handlers.go
  scheduler/repository/service_repository.go
  scheduler/scheduler.go
  workflow-manager/documentation/workflows.http
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/services/TriggerService.java
Due: run-scheduler-pipeline, run-echo-service-pipeline

feat: added parameters checking in workflow manager fix: change in aws permissions and added more instructions to README.md
  terraform/README.md
  terraform/main.tf
  workflow-manager/documentation/workflows.http
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/TriggerController.java
Due: none

chore: starting tests in scheduler
  scheduler/broker/handlers.go
  scheduler/broker/native_service.go
  scheduler/repository/dtos_test.go
  scheduler/repository/execution_repository.go
Due: none

feat: finish ubuntu service
  scheduler/broker/handlers.go
  ubuntu-service/.env.template
  ubuntu-service/.gitignore
  ubuntu-service/.gitlab-ci.yml
  ubuntu-service/Dockerfile
  ubuntu-service/docker-compose.yaml
  ubuntu-service/go.mod
  ubuntu-service/go.sum
  ubuntu-service/healthcheck.http
  ubuntu-service/main.go
  ubuntu-service/service/command_exec.go
  ubuntu-service/service/command_exec_test.go
  ubuntu-service/start.sh
  ubuntu-service/wait-for-it.sh
  workflow-manager/documentation/cron.http
  workflow-manager/documentation/example-ubuntu-service.yaml
  workflow-manager/documentation/http-client.env.json
  workflow-manager/documentation/ubuntu-workflows.http
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/dtos/WorkflowDefinitionDTO.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/ServiceRepositoryImpl.java
Due: none

feat: updated services.json
  services.json
Due: none

fix: correct error message
  ubuntu-service/main.go
Due: none

chore: execution repo tests
  scheduler/go.mod
  scheduler/go.sum
  scheduler/repository/execution_repository_test.go
Due: run-scheduler-pipeline

feat: ubuntu service deploy + microservices readmes + remove hardcoded tasks in ServiceRepositoryImpl
  deploy/ubuntu-service/.helmignore
  deploy/ubuntu-service/Chart.yaml
  deploy/ubuntu-service/templates/NOTES.txt
  deploy/ubuntu-service/templates/_helpers.tpl
  deploy/ubuntu-service/templates/deployment.yaml
  deploy/ubuntu-service/templates/hpa.yaml
  deploy/ubuntu-service/templates/ingress.yaml
  deploy/ubuntu-service/templates/pvc.yaml
  deploy/ubuntu-service/templates/service.yaml
  deploy/ubuntu-service/templates/serviceaccount.yaml
  deploy/ubuntu-service/templates/tests/test-connection.yaml
  deploy/ubuntu-service/values.yaml
  echo-service/README.md
  s3-service/README.md
  scheduler/broker/handlers.go
  services.json
  ubuntu-service/README.md
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/config/ServiceConfig.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/ServiceRepositoryImpl.java
Due: run-echo-service-pipeline

chore: simplify part of setup with script
  terraform/README.md
  terraform/connect_kubectl.sh
Due: none

chore: add healthcheck to s3_service
  deploy/s3-service/values.yaml
  s3-service/requirements.txt
  s3-service/service.py
  workflow-manager/documentation/workflows.http
Due: none

feat: validate required arguments
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/TriggerController.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/grpc_services/TriggerServant.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/services/TriggerService.java
Due: none

fix: now properly creates pvs for services
  deploy/helmfile.yaml
  deploy/nfs-pv/templates/pv.yaml
Due: none

chore: add ubuntu service to helmfile
  deploy/helmfile.yaml
Due: none

feat: started tracing in s3 service
  s3-service/.gitignore
  s3-service/requirements.txt
  s3-service/service.py
Due: none

fix: nfs typo made the system read only >:(
  terraform/scripts/initNFS.sh
Due: none

chore: remove service registry
  scheduler/.gitlab-ci.yml
  service-registry/.env.template
  service-registry/.env.template.kafka
  service-registry/.gitignore
  service-registry/.gitkeep
  service-registry/.gitlab-ci.yml
  service-registry/Dockerfile
  service-registry/HELP.md
  service-registry/docker-compose.yaml
  service-registry/mvnw
  service-registry/mvnw.cmd
  service-registry/pom.xml
  service-registry/src/main/java/com/taskcomposer/service_registry/ServiceRegistryApplication.java
  service-registry/src/main/java/com/taskcomposer/service_registry/config/DBConfig.java
  service-registry/src/main/java/com/taskcomposer/service_registry/config/KafkaProducerConfig.java
  service-registry/src/main/java/com/taskcomposer/service_registry/controllers/.gitkeep
  service-registry/src/main/java/com/taskcomposer/service_registry/repositories/.gitkeep
  service-registry/src/main/java/com/taskcomposer/service_registry/repositories/models/Service.java
  service-registry/src/main/java/com/taskcomposer/service_registry/repositories/models/Task.java
  service-registry/src/main/java/com/taskcomposer/service_registry/repositories/models/TaskInput.java
  service-registry/src/main/java/com/taskcomposer/service_registry/repositories/models/TaskOutput.java
  service-registry/src/main/java/com/taskcomposer/service_registry/repositories/models/idclass/TaskId.java
  service-registry/src/main/java/com/taskcomposer/service_registry/services/.gitkeep
  service-registry/src/main/resources/application.properties
  service-registry/src/main/resources/db/migration/V2024.12.4__initial_schema.sql
  service-registry/src/test/java/com/taskcomposer/service_registry/ServiceRegistryApplicationTests.java
  service-registry/src/test/java/com/taskcomposer/service_registry/TestServiceRegistryApplication.java
  service-registry/src/test/java/com/taskcomposer/service_registry/TestcontainersConfiguration.java
Due: run-scheduler-pipeline, run-service-registry-pipeline

chore: remove service registry pipeline
  .gitlab-ci.yml
  echo-service/main.go
Due: run-echo-service-pipeline

chore: remove service registry pipeline
  .gitlab-ci.yml
Due: none

chore: handler unit tests started
  scheduler/broker/config.go
  scheduler/broker/consumer.go
  scheduler/broker/handlers.go
  scheduler/broker/handlers_test.go
  scheduler/go.mod
  scheduler/repository/execution_repository.go
  scheduler/scheduler.go
Due: run-scheduler-pipeline

chore: write s3_service answer to kafka
  s3-service/service.py
  workflow-manager/documentation/workflows.http
Due: none

feat: now you can query for cron results
  scheduler/broker/handlers.go
  scheduler/repository/execution_repository.go
  scheduler/repository/models.go
  scheduler/scheduler.go
Due: run-scheduler-pipeline

test: test s3_service
  .vscode/settings.json
  s3-service/.env.template
  s3-service/.gitignore
  s3-service/service.py
  s3-service/test_s3_service.py
Due: none

chore: scripts for ci testing
  echo-service/scripts/component/run.sh
  echo-service/scripts/functional/run.sh
  echo-service/scripts/integration/run.sh
  echo-service/scripts/unit/run.sh
  gitlab-ci-template.yml
  s3-service/scripts/component/run.sh
  s3-service/scripts/functional/run.sh
  s3-service/scripts/integration/run.sh
  s3-service/scripts/unit/run.sh
  scheduler/Dockerfile.unit
  scheduler/scripts/component/run.sh
  scheduler/scripts/functional/run.sh
  scheduler/scripts/integration/run.sh
  scheduler/scripts/unit/run.sh
  ubuntu-service/Dockerfile.unit
  ubuntu-service/main.go
  ubuntu-service/scripts/component/run.sh
  ubuntu-service/scripts/functional/run.sh
  ubuntu-service/scripts/integration/run.sh
  ubuntu-service/scripts/unit/run.sh
  ubuntu-service/service/command_exec.go
  workflow-manager/scripts/component/run.sh
  workflow-manager/scripts/functional/run.sh
  workflow-manager/scripts/integration/run.sh
  workflow-manager/scripts/unit/run.sh
Due: run-scheduler-pipeline
