Repository RupnikF/TaskComposer-73.40-20242Q: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-scheduler-pipeline, run-service-registry-pipeline, run-workflow-manager-pipeline, run-echo-service-pipeline

.gitlab-ci.yml:

stages:
- pipeline
- test
- deploy

run-scheduler-pipeline:
  stage: pipeline
  trigger:
    include: scheduler/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - scheduler/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

run-service-registry-pipeline:
  stage: pipeline
  trigger:
    include: service-registry/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - service-registry/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

run-workflow-manager-pipeline:
  stage: pipeline
  trigger:
    include: workflow-manager/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - workflow-manager/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

run-echo-service-pipeline:
  stage: pipeline
  trigger:
    include: echo-service/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - echo-service/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

e2e-test:
  stage: test
  script:
  - echo "E2E test"
  needs:
  - job: run-scheduler-pipeline
  - job: run-service-registry-pipeline
  - job: run-workflow-manager-pipeline
  - job: run-echo-service-pipeline
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

deploy-to-aws:
  stage: deploy
  image:
    name: ghcr.io/helmfile/helmfile:latest
    entrypoint: ["/bin/sh"] # Override the default entrypoint
  script:
    # Move the config file to the helm directory to connecto to AWS kubectl
    - cp $KUBE_CONFIG_FILE /helm/.kube/config
    - cd ${CI_PROJECT_DIR}/deploy
    - echo "Install dependencies"
    - helmfile init --interactive=false
    - kubectl apply -f https://raw.githubusercontent.com/traefik/traefik/v2.10/docs/content/reference/dynamic-configuration/kubernetes-crd-definition-v1.yml
    - kubectl apply -f https://raw.githubusercontent.com/Altinity/clickhouse-operator/master/deploy/operator/clickhouse-operator-install-bundle.yaml
    - echo "Deploy to AWS"
    - helmfile apply
  needs:
    - job: run-scheduler-pipeline
    - job: run-service-registry-pipeline
    - job: run-workflow-manager-pipeline
    - job: run-echo-service-pipeline
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  when: manual
  allow_failure: false  # Prevent pipeline continuation without approval

feat: PUT workflow
  deploy/build.sh
  local-all.sh
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/TriggerController.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/WorkflowController.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/model/Workflow.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/services/WorkflowService.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/services/exceptions/WorkflowNotFoundException.java
Due: none

fix: echo service was with _ instead of - chore: added download s3 workflow
  workflow-manager/documentation/Use Cases/download_s3.http
  workflow-manager/documentation/Use Cases/echo_parameters.http
  workflow-manager/documentation/Use Cases/simple_echo.http
Due: none

fix: lol
  echo-service/main.go
  scheduler/broker/handlers.go
  ubuntu-service/service/command_exec.go
  workflow-manager/documentation/Use Cases/sleep.http
  workflow-manager/documentation/ubuntu-workflows.http
Due: run-echo-service-pipeline

feat: final, updating README.md
  README.md
  architecture.png
  deploy/README.md
  scheduler/README.md
  workflow-manager/README.md
  workflow-manager/documentation/Use Cases/sleep.http
  workflow-manager/documentation/test.http
  workflow-manager/documentation/workflows.http
Due: run-scheduler-pipeline, run-workflow-manager-pipeline

fix: remove tokens (idk why I did this everyone can see the history)
  workflow-manager/documentation/test.http
  workflow-manager/documentation/workflows.http
Due: none
