Repository RupnikF/TaskComposer-73.40-20242Q: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-scheduler-pipeline, run-service-registry-pipeline, run-workflow-manager-pipeline

.gitlab-ci.yml:

stages:
- pipeline
- test

run-scheduler-pipeline:
  stage: pipeline
  trigger:
    include: scheduler/.gitlab-ci.yml
  rules:
    - changes:
        - scheduler/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

run-service-registry-pipeline:
  stage: pipeline
  trigger:
    include: service-registry/.gitlab-ci.yml
  rules:
    - changes:
        - service-registry/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

run-workflow-manager-pipeline:
  stage: pipeline
  trigger:
    include: workflow-manager/.gitlab-ci.yml
  rules:
    - changes:
        - workflow-manager/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

e2e-test:
  stage: test
  script:
  - echo "E2E test"
  needs:
  - job: run-scheduler-pipeline
  - job: run-service-registry-pipeline
  - job: run-workflow-manager-pipeline
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

fix: typos in pipelines
  .gitlab-ci.yml
  gitlab-ci-template.yml
  scheduler/.gitkeep
  scheduler/.gitlab-ci.yml
  service-registry/.gitlab-ci.yml
  workflow-manager/.gitlab-ci.yml
Due: run-scheduler-pipeline, run-service-registry-pipeline, run-workflow-manager-pipeline

feat: initial java setup
  .idea/.gitignore
  .idea/misc.xml
  .idea/modules.xml
  .idea/taskcomposer.iml
  .idea/vcs.xml
  service-registry/.gitignore
  service-registry/HELP.md
  service-registry/mvnw
  service-registry/mvnw.cmd
  service-registry/pom.xml
  service-registry/src/main/java/com/taskcomposer/service_registry/ServiceRegistryApplication.java
  service-registry/src/main/resources/application.properties
  service-registry/src/test/java/com/taskcomposer/service_registry/ServiceRegistryApplicationTests.java
  service-registry/src/test/java/com/taskcomposer/service_registry/TestServiceRegistryApplication.java
  service-registry/src/test/java/com/taskcomposer/service_registry/TestcontainersConfiguration.java
  workflow-manager/.gitignore
  workflow-manager/.idea/.gitignore
  workflow-manager/.idea/compiler.xml
  workflow-manager/.idea/encodings.xml
  workflow-manager/.idea/jarRepositories.xml
  workflow-manager/.idea/misc.xml
  workflow-manager/.idea/vcs.xml
  workflow-manager/HELP.md
  workflow-manager/mvnw
  workflow-manager/mvnw.cmd
  workflow-manager/pom.xml
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/WorkflowManagerApplication.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/HelloWorldController.java
  workflow-manager/src/main/resources/application.properties
  workflow-manager/src/test/java/com/taskcomposer/workflow_manager/TestWorkflowManagerApplication.java
  workflow-manager/src/test/java/com/taskcomposer/workflow_manager/TestcontainersConfiguration.java
  workflow-manager/src/test/java/com/taskcomposer/workflow_manager/WorkflowManagerApplicationTests.java
  workflow-manager/target/classes/application.properties
  workflow-manager/target/classes/com/taskcomposer/workflow_manager/WorkflowManagerApplication.class
  workflow-manager/target/classes/com/taskcomposer/workflow_manager/controllers/HelloWorldController$Greeting.class
  workflow-manager/target/classes/com/taskcomposer/workflow_manager/controllers/HelloWorldController.class
  workflow-manager/target/test-classes/com/taskcomposer/workflow_manager/TestWorkflowManagerApplication.class
  workflow-manager/target/test-classes/com/taskcomposer/workflow_manager/TestcontainersConfiguration.class
  workflow-manager/target/test-classes/com/taskcomposer/workflow_manager/WorkflowManagerApplicationTests.class
Due: run-service-registry-pipeline, run-workflow-manager-pipeline

feat: trailing slash is very important
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/WorkflowManagerApplication.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/HelloWorldController.java
  workflow-manager/src/main/resources/application.properties
  workflow-manager/target/classes/application.properties
  workflow-manager/target/classes/com/taskcomposer/workflow_manager/WorkflowManagerApplication.class
  workflow-manager/target/classes/com/taskcomposer/workflow_manager/controllers/HelloWorldController.class
Due: none

fix: remove target and .idea
  .gitignore
  .idea/.gitignore
  .idea/misc.xml
  .idea/modules.xml
  .idea/taskcomposer.iml
  .idea/vcs.xml
  workflow-manager/.idea/.gitignore
  workflow-manager/.idea/compiler.xml
  workflow-manager/.idea/encodings.xml
  workflow-manager/.idea/jarRepositories.xml
  workflow-manager/.idea/misc.xml
  workflow-manager/.idea/vcs.xml
  workflow-manager/target/classes/application.properties
  workflow-manager/target/classes/com/taskcomposer/workflow_manager/WorkflowManagerApplication.class
  workflow-manager/target/classes/com/taskcomposer/workflow_manager/controllers/HelloWorldController$Greeting.class
  workflow-manager/target/classes/com/taskcomposer/workflow_manager/controllers/HelloWorldController.class
  workflow-manager/target/test-classes/com/taskcomposer/workflow_manager/TestWorkflowManagerApplication.class
  workflow-manager/target/test-classes/com/taskcomposer/workflow_manager/TestcontainersConfiguration.class
  workflow-manager/target/test-classes/com/taskcomposer/workflow_manager/WorkflowManagerApplicationTests.class
Due: none

feat: fix java gitignore
  .gitignore
  service-registry/.gitignore
  workflow-manager/.gitignore
Due: run-service-registry-pipeline, run-workflow-manager-pipeline

feat: initial setup for scheduler
  scheduler/.gitignore
  scheduler/go.mod
  scheduler/go.sum
  scheduler/scheduler.go
Due: run-scheduler-pipeline

feat: dockerfiles
  scheduler/Dockerfile
  service-registry/Dockerfile
  workflow-manager/Dockerfile
Due: run-scheduler-pipeline, run-service-registry-pipeline, run-workflow-manager-pipeline

feat: initial docker compose for all
  .gitignore
  scheduler/docker-compose.yaml
  service-registry/docker-compose.yaml
  service-registry/src/main/java/com/taskcomposer/service_registry/ServiceRegistryApplication.java
  workflow-manager/.gitignore
  workflow-manager/Dockerfile
  workflow-manager/docker-compose.yaml
  workflow-manager/pom.xml
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/.gitkeep
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/services/.gitkeep
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/utils/.gitkeep
Due: run-scheduler-pipeline, run-service-registry-pipeline, run-workflow-manager-pipeline

feat: templates andlistening to main network
  scheduler/.env.template
  scheduler/.env.template.kafka
  service-registry/.env.template
  service-registry/.env.template.kafka
  workflow-manager/.env.template
  workflow-manager/.mvn/wrapper/maven-wrapper.properties
  workflow-manager/docker-compose.yaml
  workflow-manager/src/main/resources/application.properties
Due: run-scheduler-pipeline, run-service-registry-pipeline, run-workflow-manager-pipeline

feat: remove sql from .gitignore
  .gitignore
  workflow-manager/src/main/resources/db/migration/schema.sql
Due: none

chore: defined basic workflow example
  workflow-manager/examples/basic-workflow.yaml
Due: none

chore: define workflow manager db schema
  workflow-manager/src/main/resources/db/migration/schema.sql
Due: none

feat: basic implementation in workflow-manager
  workflow-manager/pom.xml
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/WorkflowManagerApplication.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/config/DBConfig.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/config/SerializerConfiguration.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/WorkflowController.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/dtos/WorkflowDTO.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/WorkflowRepository.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/model/Argument.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/model/Step.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/model/StepInput.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/model/Workflow.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/services/WorkflowService.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/services/exceptions/WorkflowAlreadyExistsException.java
  workflow-manager/src/main/resources/application.properties
  workflow-manager/src/main/resources/db/migration/V2024.11.21__initial_schema.sql
Due: run-workflow-manager-pipeline

fix: some changes went uncommited
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/WorkflowManagerApplication.java
Due: none

feat: upload workflow, pending response
  workflow-manager/.env.template
  workflow-manager/documentation/workflows.http
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/WorkflowManagerApplication.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/WorkflowController.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/dtos/WorkflowDTO.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/model/Argument.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/model/Step.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/model/StepInput.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/model/Workflow.java
  workflow-manager/src/main/resources/application.properties
Due: run-workflow-manager-pipeline

chore: basic connection to a kafka queue and some fixes
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/WorkflowManagerApplication.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/config/KafkaConsumerConfig.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/config/KafkaProducerConfig.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/config/KafkaTopicConfig.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/WorkflowController.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/services/ExecutionService.java
  workflow-manager/src/main/resources/application.properties
Due: none

fix: commented kafka code and fixed the docker composes
  scheduler/docker-compose.yaml
  service-registry/docker-compose.yaml
  workflow-manager/docker-compose.yaml
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/config/KafkaConsumerConfig.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/config/KafkaProducerConfig.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/config/KafkaTopicConfig.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/services/ExecutionService.java
  workflow-manager/src/main/resources/application.properties
Due: run-scheduler-pipeline, run-service-registry-pipeline, run-workflow-manager-pipeline

feat: implement workflow endpoints in workflow manager
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/ExecutionController.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/WorkflowController.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/dtos/ExecutionRequestDTO.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/dtos/WorkflowDefinitionDTO.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/services/WorkflowService.java
Due: none

test: workflow service
  workflow-manager/pom.xml
  workflow-manager/src/test/java/com/taskcomposer/workflow_manager/services/WorkflowServiceTest.java
Due: run-workflow-manager-pipeline

chore: changed dockerfile so maven dependencies are being cached fix: added StepOrder to Step for maintaining insertion order
  service-registry/Dockerfile
  workflow-manager/Dockerfile
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/dtos/WorkflowDefinitionDTO.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/model/Step.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/model/Workflow.java
  workflow-manager/src/main/resources/db/migration/V2024.11.21__initial_schema.sql
Due: run-service-registry-pipeline, run-workflow-manager-pipeline

feat: initial implementation of repository using GORM
  scheduler/go.mod
  scheduler/go.sum
  scheduler/repository/connection.go
  scheduler/repository/execution_repository.go
  scheduler/repository/models.go
Due: run-scheduler-pipeline

chore: add ServiceRepository to WorkflowManager
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/ExecutionController.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/WorkflowController.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/dtos/ExecutionSubmissionDTO.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/dtos/StepDTO.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/dtos/WorkflowDefinitionDTO.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/ServiceRepository.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/ServiceRepositoryImpl.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/repositories/model/Service.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/services/ExecutionService.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/services/WorkflowService.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/services/exceptions/ServiceNotFoundException.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/services/exceptions/TaskNotFoundException.java
  workflow-manager/src/test/java/com/taskcomposer/workflow_manager/services/WorkflowServiceTest.java
Due: none

feat: initial kafka implementation in scheduler
  scheduler/broker/config.go
  scheduler/broker/consumer.go
  scheduler/broker/producer.go
  scheduler/go.mod
  scheduler/go.sum
  scheduler/repository/config.go
  scheduler/scheduler.go
Due: run-scheduler-pipeline

chore: added DTOs for ExecStep and ExecutionSubmission fix: fixed models so they use references for better memory usage
  scheduler/repository/dtos.go
  scheduler/repository/models.go
Due: none

chore: added more info to DTOs
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/dtos/ExecutionSubmissionDTO.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/dtos/StepDTO.java
Due: none

chore: changed few patterns feat: doing specific implementation for kafka adn added service_repository
  scheduler/broker/config.go
  scheduler/broker/consumer.go
  scheduler/broker/handlers.go
  scheduler/broker/producer.go
  scheduler/repository/config.go
  scheduler/repository/dtos.go
  scheduler/repository/execution_repository.go
  scheduler/repository/models.go
  scheduler/repository/service_repository.go
  scheduler/scheduler.go
Due: run-scheduler-pipeline

chore: setup helmfile for deploy
  deploy/README.md
  deploy/helmfile.yaml
Due: none

feat: possibly finish handleExecutionStep
  scheduler/broker/handlers.go
  scheduler/go.mod
  scheduler/go.sum
  scheduler/repository/service_repository.go
Due: run-scheduler-pipeline

feat: fix bug
  scheduler/.gitignore
  scheduler/repository/dtos.go
Due: run-scheduler-pipeline

chore: deploy workflow manager on k8s. connection with psql. still missing kafka
  deploy/.env.template
  deploy/README.md
  deploy/build.sh
  deploy/helmfile.yaml
  deploy/workflow-manager/.helmignore
  deploy/workflow-manager/Chart.yaml
  deploy/workflow-manager/templates/NOTES.txt
  deploy/workflow-manager/templates/_helpers.tpl
  deploy/workflow-manager/templates/deployment.yaml
  deploy/workflow-manager/templates/hpa.yaml
  deploy/workflow-manager/templates/ingress.yaml
  deploy/workflow-manager/templates/secret.yaml
  deploy/workflow-manager/templates/service.yaml
  deploy/workflow-manager/templates/serviceaccount.yaml
  deploy/workflow-manager/templates/tests/test-connection.yaml
  deploy/workflow-manager/values.yaml
Due: none

feat: use wait-for-it for correct depends_on
  scheduler/Dockerfile
  scheduler/docker-compose.yaml
  scheduler/start.sh
  scheduler/wait-for-it.sh
Due: run-scheduler-pipeline

fix: appending on [nil]
  scheduler/.vscode/launch.json
  scheduler/README.md
  scheduler/repository/dtos.go
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/controllers/dtos/ExecutionSubmissionDTO.java
Due: run-scheduler-pipeline

fix: fixed marshalling to execution submissions and save chore: added kafka port to .env
  scheduler/broker/config.go
  scheduler/repository/dtos.go
  scheduler/scheduler.go
Due: run-scheduler-pipeline

chore: deploy kafka to k8s
  deploy/helmfile.yaml
  deploy/workflow-manager/templates/deployment.yaml
  deploy/workflow-manager/values.yaml
  workflow-manager/documentation/workflows.http
Due: none

feat: handler for new steps
  scheduler/.env.template
  scheduler/broker/config.go
  scheduler/broker/handlers.go
  scheduler/repository/execution_repository.go
  scheduler/repository/service_repository.go
  scheduler/scheduler.go
  workflow-manager/documentation/workflows.http
Due: run-scheduler-pipeline

chore: deploy scheduler to k8s
  deploy/.env.template
  deploy/build.sh
  deploy/helmfile.yaml
  deploy/scheduler/.helmignore
  deploy/scheduler/Chart.yaml
  deploy/scheduler/templates/NOTES.txt
  deploy/scheduler/templates/_helpers.tpl
  deploy/scheduler/templates/deployment.yaml
  deploy/scheduler/templates/hpa.yaml
  deploy/scheduler/templates/ingress.yaml
  deploy/scheduler/templates/secret.yaml
  deploy/scheduler/templates/service.yaml
  deploy/scheduler/templates/serviceaccount.yaml
  deploy/scheduler/templates/tests/test-connection.yaml
  deploy/scheduler/values.yaml
  scheduler/Dockerfile
Due: run-scheduler-pipeline

fix: fixed scheduler dockerfile
  scheduler/.env.template
  scheduler/Dockerfile
  scheduler/start.sh
Due: run-scheduler-pipeline

feat: native service
  native-service/.env.template
  native-service/Dockerfile
  native-service/docker-compose.yml
  native-service/go.mod
  native-service/go.sum
  native-service/main.go
  native-service/start.sh
  native-service/wait-for-it.sh
  scheduler/.env.template
  scheduler/broker/config.go
  scheduler/scheduler.go
Due: run-scheduler-pipeline
