Repository RupnikF/TaskComposer-73.40-20242Q: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-scheduler-pipeline, run-service-registry-pipeline, run-workflow-manager-pipeline, run-echo-service-pipeline

.gitlab-ci.yml:

stages:
- pipeline
- test
- deploy

run-scheduler-pipeline:
  stage: pipeline
  trigger:
    include: scheduler/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - scheduler/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

run-service-registry-pipeline:
  stage: pipeline
  trigger:
    include: service-registry/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - service-registry/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

run-workflow-manager-pipeline:
  stage: pipeline
  trigger:
    include: workflow-manager/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - workflow-manager/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

run-echo-service-pipeline:
  stage: pipeline
  trigger:
    include: echo-service/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - echo-service/*
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

e2e-test:
  stage: test
  script:
  - echo "E2E test"
  needs:
  - job: run-scheduler-pipeline
  - job: run-service-registry-pipeline
  - job: run-workflow-manager-pipeline
  - job: run-echo-service-pipeline
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

deploy-to-aws:
  stage: deploy
  image:
    name: ghcr.io/helmfile/helmfile:latest
    entrypoint: ["/bin/sh"] # Override the default entrypoint
  script:
    # Move the config file to the helm directory to connecto to AWS kubectl
    - cp $KUBE_CONFIG_FILE /helm/.kube/config
    - cd ${CI_PROJECT_DIR}/deploy
    - echo "Install dependencies"
    - helmfile init --interactive=false
    - kubectl apply -f https://raw.githubusercontent.com/traefik/traefik/v2.10/docs/content/reference/dynamic-configuration/kubernetes-crd-definition-v1.yml
    - kubectl apply -f https://raw.githubusercontent.com/Altinity/clickhouse-operator/master/deploy/operator/clickhouse-operator-install-bundle.yaml
    - echo "Deploy to AWS"
    - helmfile apply
  needs:
    - job: run-scheduler-pipeline
    - job: run-service-registry-pipeline
    - job: run-workflow-manager-pipeline
    - job: run-echo-service-pipeline
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  when: manual
  allow_failure: false  # Prevent pipeline continuation without approval

chore: oopsie
  gitlab-ci-template.yml
  scheduler/.gitlab-ci.yml
  ubuntu-service/.gitlab-ci.yml
Due: run-scheduler-pipeline

test: s3-service test image
  s3-service/Dockerfile.test
Due: none

fix: lets see if test containers now runs
  gitlab-ci-template.yml
  scheduler/Dockerfile.unit
Due: run-scheduler-pipeline

fix: please work
  gitlab-ci-template.yml
Due: none

fix: lets see if privileged exists
  gitlab-ci-template.yml
Due: none

fix: please work x2
  gitlab-ci-template.yml
  scheduler/.gitlab-ci.yml
  scheduler/scripts/unit/run.sh
Due: run-scheduler-pipeline

fix: typo :(
  gitlab-ci-template.yml
Due: none

fix: now the tests run but it cant connect to pg
  echo-service/.gitlab-ci.yml
  s3-service/.gitlab-ci.yml
  scheduler/repository/execution_repository_test.go
  ubuntu-service/.gitlab-ci.yml
  workflow-manager/.gitlab-ci.yml
Due: run-workflow-manager-pipeline, run-echo-service-pipeline

chore: lets see a trigger
  scheduler/README.md
  scheduler/scheduler.go
Due: run-scheduler-pipeline

fix: lets see if it can connect now
  scheduler/README.md
  scheduler/repository/execution_repository_test.go
Due: run-scheduler-pipeline

fix: missing import for pq
  scheduler/go.mod
  scheduler/go.sum
  scheduler/repository/execution_repository_test.go
Due: run-scheduler-pipeline

fix: nodeport in ubuntu service was 80 instead of 8080
  deploy/ubuntu-service/values.yaml
Due: none

chore: trying HA fix: topics for ubuntu-service were wrong, and the type of error was interface instead of string
  deploy/helmfile.yaml
  deploy/scheduler/templates/ingress-route.yaml
  deploy/traefik.yaml
  echo-service/main.go
  scheduler/scheduler.go
  terraform/main.tf
  ubuntu-service/main.go
Due: run-scheduler-pipeline, run-echo-service-pipeline

fix: logs didnt have service name
  echo-service/main.go
  scheduler/scheduler.go
  ubuntu-service/main.go
Due: run-scheduler-pipeline, run-echo-service-pipeline

feat: java test scripts
  deploy/echo-service/templates/deployment.yaml
  deploy/s3-service/templates/deployment.yaml
  deploy/ubuntu-service/templates/deployment.yaml
  s3-service/.env.template
  s3-service/requirements.txt
  s3-service/service.py
  workflow-manager/.gitlab-ci.yml
  workflow-manager/scripts/component/run.sh
  workflow-manager/scripts/functional/run.sh
  workflow-manager/scripts/integration/run.sh
  workflow-manager/scripts/unit/run.sh
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/config/ServiceConfig.java
  workflow-manager/src/main/java/com/taskcomposer/workflow_manager/services/WorkflowService.java
  workflow-manager/src/test/java/com/taskcomposer/workflow_manager/TestcontainersConfiguration.java
  workflow-manager/src/test/java/com/taskcomposer/workflow_manager/WorkflowManagerApplicationTests.java
  workflow-manager/src/test/java/com/taskcomposer/workflow_manager/services/WorkflowServiceTest.java
  workflow-manager/src/test/resources/application-test.properties
  workflow-manager/src/test/resources/test-services.json
Due: run-workflow-manager-pipeline

chore: increased topic partition and replication fix: fixed spans when using the database
  deploy/scheduler/templates/ingress-route.yaml
  scheduler/broker/config.go
  scheduler/broker/handlers.go
  scheduler/broker/native_service.go
  scheduler/repository/execution_repository.go
  scheduler/repository/execution_repository_test.go
  scheduler/scheduler.go
Due: run-scheduler-pipeline

chore: trying to fix test in workflow manager
  workflow-manager/pom.xml
  workflow-manager/scripts/unit/run.sh
Due: run-workflow-manager-pipeline

chore: trying temurin 17
  workflow-manager/.gitlab-ci.yml
  workflow-manager/scripts/component/run.sh
  workflow-manager/scripts/functional/run.sh
  workflow-manager/scripts/integration/run.sh
Due: run-workflow-manager-pipeline

fix: spans were never sent with span.End()
  echo-service/main.go
  ubuntu-service/main.go
Due: run-echo-service-pipeline

chore: use correct java v
  workflow-manager/.gitlab-ci.yml
Due: run-workflow-manager-pipeline

fix: cancel-executions was not in the rule for signoz
  deploy/signoz-ingress/templates/ingress-route.yaml
Due: none

fix: use same image as Dockerfile for java
  workflow-manager/.gitlab-ci.yml
  workflow-manager/scripts/component/run.sh
  workflow-manager/scripts/functional/run.sh
  workflow-manager/scripts/integration/run.sh
  workflow-manager/scripts/unit/run.sh
Due: run-workflow-manager-pipeline

feat: maven wrapper err
  workflow-manager/scripts/component/run.sh
  workflow-manager/scripts/functional/run.sh
  workflow-manager/scripts/integration/run.sh
  workflow-manager/scripts/unit/run.sh
Due: none

chore: fix integration test in wfmanager
  workflow-manager/scripts/component/run.sh
  workflow-manager/scripts/functional/run.sh
  workflow-manager/scripts/integration/run.sh
  workflow-manager/scripts/unit/run.sh
  workflow-manager/src/test/java/com/taskcomposer/workflow_manager/WorkflowManagerApplicationTests.java
Due: none

fix: test images
  gitlab-ci-template.yml
Due: none

feat: justificacion
  README.md
Due: none

fix: delayed jobs didnt have a jobId fix: now tells when job found when cancelling execution
  scheduler/broker/handlers.go
  scheduler/jobs/handlers.go
  scheduler/scheduler.go
Due: run-scheduler-pipeline

feat: for go services use read and commit instead of just read
  echo-service/main.go
  scheduler/broker/config.go
  scheduler/broker/consumer.go
  ubuntu-service/main.go
Due: run-echo-service-pipeline

fix: not detecting changes recursively
  .gitlab-ci.yml
Due: none

fix: disable automatic commits for s3 services
  s3-service/service.py
Due: none

chore: a little less descriptive job cancelling
  scheduler/scheduler.go
Due: run-scheduler-pipeline

fix: wrong server in services.json
  services.json
Due: none

fix: s3-service tracing
  s3-service/service.py
  workflow-manager/documentation/demo.http
Due: none

chore: cleaning pipelines
  .gitlab-ci.yml
  gitlab-ci-template.yml
Due: none

fix: provider with OLTP
  s3-service/service.py
  workflow-manager/documentation/service-integration-demo.http
Due: none

fix: s3 service needed http for tracer provider to work fix: no longer always logging commiting error
  deploy/s3-service/templates/deployment.yaml
  echo-service/main.go
  scheduler/broker/consumer.go
  ubuntu-service/main.go
Due: run-echo-service-pipeline

fix: template had outdated steps
  gitlab-ci-template.yml
Due: none

fix: correctly inject context in s3 service
  s3-service/requirements.txt
  s3-service/service.py
Due: none

fix: correct s3 port
  s3-service/service.py
Due: none

chore: use cases for demo
  workflow-manager/documentation/Use Cases/conditional_case.http
  workflow-manager/documentation/Use Cases/echo_parameters.http
  workflow-manager/documentation/Use Cases/simple_echo.http
Due: none
